mat-card {
  color: black;

  mat-card-title h3 {
    color: black;
    text-align: center;
  }

  mat-dialog-content {
    color: black;
    align-content: center;
  }

  .summary-close-button {
    color: black;
  }
}